.demo01{
	border:1px solid #333;
	padding:20px;
	margin-top:20px;
}
.demo01_d{
	border:1px solid #dd0;
	padding:20px;
	/* background:url(./images/1.png) no-repeat center center; */
	background-size:auto 100%;
}